.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  
  .menu-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .btn-line {
    width: 30px;
    height: 3px;
    margin: 4px;
    background-color: #333;
    transition: all 0.3s ease;
  }
  
  .menu-btn.open .btn-line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  
  .menu-btn.open .btn-line:nth-child(2) {
    opacity: 0;
  }
  
  .menu-btn.open .btn-line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }
  
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  
  .menu.open {
    transform: translateX(0);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
  }
  
  @media (min-width: 1025px) {
    .hamburger-menu {
        display: none;
    }
  }
  @media (max-width: 500px) {
    .menu {
        width: 200px;
      }
  }