.container {
  padding-inline: 100px;
  padding-block: 50px;
}
.container .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .navigation img {
  width: 173px;
  height: 33px;
}
.container .navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}
.container .navigation ul a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 18px;
}
.container .navigation ul a li {
  list-style: none;
  text-decoration: none;
}
.container .navigation .button {
  background-color: rgb(3, 165, 155);
  border: none;
  outline: none;
  color: white;
  border-radius: 24px;
  width: 194px;
  height: 56px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.container .hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}
.container .hero .text {
  width: 440px;
  height: 450px;
}
.container .hero .text h3 {
  font-size: 20px;
  font-weight: 700;
}
.container .hero .text h1 {
  font-size: 48px;
  font-weight: 300;
}
.container .hero .text h1 span {
  color: rgb(3, 165, 155);
}
.container .hero .text p {
  font-weight: 400;
  font-size: 20px;
  font-weight: 300;
}
.container .hero .text .button {
  background-color: rgb(3, 165, 155);
  border: none;
  outline: none;
  color: white;
  border-radius: 24px;
  width: 194px;
  height: 56px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  bottom: -20px;
}
.container .trending h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
}
.container .trending h1 span {
  color: rgb(3, 165, 155);
}
.container .trending .para {
  text-align: center;
}
.container .trending .sofa-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-block: 50px;
}
.container .trending .sofa-container .sofa {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 343px;
  width: 608px;
  background-color: rgb(248, 255, 255);
}
.container .trending .sofa-container .sofa .text a {
  position: relative;
  bottom: -50px;
  color: rgb(3, 165, 155);
}
.container .trending .sofa-container .sofa-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 343px;
  width: 608px;
  background-color: rgb(255, 252, 251);
}
.container .trending .sofa-container .sofa-2 .text a {
  position: relative;
  bottom: -50px;
  color: rgb(248, 124, 71);
}
.container .choose-us {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.container .choose-us .text-container h1 {
  font-size: 48px;
  font-weight: 400;
}
.container .choose-us .text-container h1 span {
  color: rgb(3, 165, 155);
}
.container .choose-us .text-container p {
  font-size: 18px;
  font-weight: 300;
}
.container .choose-us .text-container .choose-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.container .choose-us .img-container {
  height: 561px;
  margin-top: -180px;
}
.container .choose-us .img-container .dots {
  position: relative;
  bottom: -114px;
  z-index: 0;
}
.container .choose-us .img-container .office {
  position: relative;
  left: 40px;
  z-index: 1;
}
.container .inquiries {
  margin-top: 200px;
  border: 1px solid rgb(236, 236, 236);
}
.container .inquiries h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.container .inquiries p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgb(133, 133, 133);
}
.container .inquiries .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 20px;
  gap: 10px;
}
.container .inquiries .form .input {
  width: 1120px;
  height: 64px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 24px;
  padding-left: 30px;
  color: rgb(133, 133, 133);
  font-size: 17px;
  font-weight: 100;
}
.container .inquiries .form .input-2 {
  width: 1120px;
  height: 170px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 24px;
  padding-left: 30px;
  color: rgb(133, 133, 133);
  font-size: 17px;
  font-weight: 100;
  text-align: left;
}
.container .inquiries .form .submit {
  width: 1150px;
  height: 64px;
  margin-top: 10px;
  border-radius: 24px;
  background-color: rgb(3, 165, 155);
  border: none;
  color: rgb(255, 255, 255);
}
.container .contact {
  padding-block: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .contact .contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(236, 236, 236);
  width: 384px;
  height: 200px;
  border-radius: 8px;
}
.container .contact .contact-card h4 {
  font-size: 20px;
  font-weight: 500;
}
.container .contact .contact-card p {
  font-weight: 400;
  font-size: 18px;
  color: rgb(133, 133, 133);
}/*# sourceMappingURL=luxury.css.map */